* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  justify-content: center;
  background-color: #fff;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main-title {
  margin: 2rem 0 0.5rem 0;
  color: #212529;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
.text-success {
  margin-right: 1.5rem;
  color: #18bc9c !important;
}
.main-part {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
input:focus {
  border: 2px solid #7b8a8b;
}
.btn {
  height: 2.5rem;
  width: 100%;
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #343a40;
}
.table {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #212529;
  width: 40%;
  border-collapse: collapse;
}
table thead {
  line-height: 2.5rem;
  text-align: left;
  border-top: 1px solid #18bc9c;
  border-bottom: 1px solid #18bc9c;
}
table tbody {
  padding: 0 1rem;
  line-height: 2.5rem;
  text-align: left;
  line-height: 2.2rem;
}
table tr {
  height: fit-content;
  border-top: 1px solid #7b8a8b;
}
table td {
  padding-right: 10px;
}
.delete-btn {
  height: 1.7rem;
  width: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.825rem;
  line-height: 1.5;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: crimson;
}
@media screen and (max-width: 700px) {
  .left-part {
    width: 80%;
  }
  .table {
    margin-top: 0;
    width: 80%;
  }
  .main-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
